# Test Report 

## Purpose

The Test Report is a record that the tests were run and a documentation of their results.

### Requirements

In addition to the general documentation requirements this document will contain: Output from the unit test runs.

Output from the integration test runs.

Output from automated acceptance tests.

A copy of the manual acceptance test procedures with notations indicating that the test was performed and the observed results.

List of known problems: describe each failed test.

## README.md/User’s Manual

### Purpose

The User’s Manual describes how to use and maintain the system. It can be presented as two documents, one for the end-user and the other for the maintainer.
Requirements

In addition to the general documentation requirements the User’s Manual will contain
- Quick Start Guide For the experienced user.
- Installation Basic installation, network considerations, uninstalls. Installation should be
automated and seamless. The system must be responsible for determining if minimum requirements are satisfied. For a client/server system this includes installation of both the client and server software. For a mobile application, it includes build and deployment instructions.
- Configuration Single user, multi-user, network, resources. Automation is again the key to successful configuration.
- Security Passwords.
- Database Installation and maintenance if required.
- Application Functions System functionality, screen shots. Step-by-step operating
procedures.
- Backup and Recovery
- Error Messages Messages and actions. Don’t leave people hanging. When an error is
reported, there must be a corrective action.
- Troubleshooting Troubleshoot the application – not the operating system or network.
- Support Contacts, contracts
