/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9d2235;
  --ifm-color-primary-dark: #8d1f30;
  --ifm-color-primary-darker: #851d2d;
  --ifm-color-primary-darkest: #6e1825;
  --ifm-color-primary-light: #ad253a;
  --ifm-color-primary-lighter: #b5273d;
  --ifm-color-primary-lightest: #cc2c45;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

.quicklinks {
  display: none;
}

@media screen and (max-width: 996px) {
  #__docusaurus_skipToContent_fallback>header>div.container>div>div>div {
    padding: 0;
    margin: 0;
    display: none;
  }

  .quicklinks {
    display: flex;
  }

}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff3858;
  --ifm-color-primary-dark: #ff193e;
  --ifm-color-primary-darker: #ff0931;
  --ifm-color-primary-darkest: #f90028;
  --ifm-color-primary-light: #ff5772;
  --ifm-color-primary-lighter: #ff677f;
  --ifm-color-primary-lightest: #ff7087;
  --ifm-footer-background-color: black;
}

.medium-zoom-overlay {
  /*background-color: #00a400 !important;*/
  z-index: 999;
}

.medium-zoom-image--opened {
  z-index: 1000;
}

#atlwdg-trigger.atlwdg-trigger.atlwdg-RIGHT {
  background-color: #9d2235;
}

[data-theme='dark'] .live-demo {
  color: white !important;
}

.live-demo {
  color: black !important;
}

.live-demo {
  text-align: justify;
}

.mobile-live-demo {
  display: none !important;
}

#docusaurus_skipToContent_fallback>header>div>div.live-demo.card.container.shadow--tl.margin--lg>div.card__body>div>div>div:nth-child(1)>div {
  text-align: center;
}

#docusaurus_skipToContent_fallback>header>div>div.live-demo.card.container.shadow--tl.margin--lg>div.card__body>div>div>div:nth-child(1)>div>details>div {
  text-align: justify;
}

.hero--primary {
  /*height: 100vh;*/
  backdrop-filter: opacity(50%);
}

/*canvas {*/
/*  filter: blur(15px);*/
/*}*/
#mobile-toc {
  display: none !important;

  /*visibility: hidden;*/
}

.youtube-player {
  width: 560px;
  height: 317px;
}

.syllabus-content {
  margin-top: 50px;
}

main {
  padding: 50px;
}

@media screen and (max-width: 996px) {
  .live-demo {
    display: none;
  }

  .youtube-player {
    width: 330px;
    height: 208px;
  }

  .mobile-live-demo {
    display: inline !important;
  }

  #mobile-toc {
    display: flex !important;
    margin-top: 2rem;
    /*visibility: visible;*/
  }

  main {
    padding: 20px;
  }
}

.clickable {
  color: white;
  fill: white;
}

/**{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
.hero--primary {
  position: relative;
  width: 100%;
  /*height: 100vh;*/
  /*background: #3586ff;*/
  overflow: hidden;
}

.hero--primary .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}

[data-theme='dark'] .hero--primary .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
  filter: invert(89.1%);
}

.hero--primary .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 5;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
  background-blend-mode: multiply;

}

.hero--primary .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 6;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
  background-blend-mode: multiply;
}

.hero--primary .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 7;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
  background-blend-mode: multiply;

}

.hero--primary .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 8;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
  background-blend-mode: multiply;

}

@keyframes wave {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -1000px;
  }
}

#__docusaurus_skipToContent_fallback>header>div.container>div>div.live-demo.card.container.shadow--tl.margin--lg>div.card__body>div>ul {
  font-size: smaller;
  margin: 0;
  padding: 0;
}

.instructor-contact-list {
  list-style-type: none;
  padding-left: 0;
}

/* Custom responsive layout styles for intro page */
.benefits-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefits-text {
  order: 2;
}

.benefits-image {
  order: 1;
  align-self: center;
  flex-shrink: 0;
}

/* Desktop layout - side by side like print */
@media (min-width: 768px) {
  .benefits-layout {
    flex-direction: row;
    align-items: flex-start;
  }

  .benefits-text {
    order: 1;
    flex: 1;
    margin-right: 20px;
  }

  .benefits-image {
    order: 2;
    align-self: flex-start;
  }
}

/* Syllabus page specific styles */
.grading-chart-container {
  float: right;
  width: 600px;
  max-width: 100vw;
  margin-left: 1em;
}

@media (max-width: 900px) {
  .grading-chart-container {
    float: none;
    width: 100%;
    margin: 0 auto 1em auto;
  }
}

@media (max-width: 600px) {
  .docusaurus-logo-link svg {
    float: none !important;
    display: block;
    margin: 0 auto 16px auto !important;
    max-width: 80vw;
  }
}

@media (max-width: 700px) {
  .blastpad-example-figure {
    float: none !important;
    margin: 0 auto 1em auto !important;
    max-width: 95vw !important;
    width: 100% !important;
    display: block;
  }

  .blastpad-example-figure img {
    margin: 0 auto 0 auto !important;
    display: block;
    max-width: 100vw !important;
    width: 100% !important;
  }
}

.screen-reader-only {
/*  I want the toggle checkbox hiddent */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
