# .github/workflows/generate-pdf.yml
name: Generate PDF

on:
  push:
    branches:
      - main
  workflow_dispatch: {}   

jobs:
  generate-pdf:
    runs-on: ubuntu-latest
    env:
      GIT_USER: ${{ secrets.USER }}
      GIT_PASS: ${{ secrets.TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: cd documentation && yarn install
      - name: Determine Semester
        id: semester
        run: |
          CURRENT_MONTH=$(date +%-m)
          CURRENT_YEAR=$(date +%Y)
          if [[ "$CURRENT_MONTH" -ge 1 && "$CURRENT_MONTH" -le 5 ]]; then
              SEMESTER="Spring"
          elif [[ "$CURRENT_MONTH" -ge 8 && "$CURRENT_MONTH" -le 12 ]]; then
              SEMESTER="Fall"
          else
              SEMESTER="Summer"
          fi
          echo "SEMESTER_YEAR=${SEMESTER} ${CURRENT_YEAR}" >> $GITHUB_ENV

      - name: Generate PDF
        run: |
          export PROJECT_NAME=$(echo ${GITHUB_REPOSITORY#*/})
          cd documentation
          yarn pdf
      - name: Combine PDFs
        uses: amoeba/combine-pdf-action@v1
        with:
          path: resources
      - name: Rename PDF
        run: |
          mv resources/combined.pdf syllabus.pdf
      - name: Upload PDF to Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "${{ github.run_number }}"
          name: ${{ env.SEMESTER_YEAR }} Course Syllabus
          files: syllabus.pdf
          draft: false
          prerelease: false
